:root {
    --black: hsla(1, 1%, 1%, 1);
    --primary: hsla(154, 100%, 69%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    min-width: 100vw;
    min-height: 100vh;

    background-color: var(--black);
}

h1 {
    margin: 1em 0 0 0;

    max-width: 100%;
    height: auto;

    font-family: 'Noto Sans Linear B', sans-serif;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 16px;
    color: hsla(154, 100%, 69%, 1);
    -webkit-box-reflect: below 0px linear-gradient(transparent, #111);
}

.line {
    width: 80vw;
    height: 2px;
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, #111 0%, hsla(154, 100%, 69%, 1) 50%, #111 100%);
}

.player {
    display: flex;
    flex-direction: column;

    margin: 128px 0 0 0;
    padding: 16px;

    width: 320px;
    height: 280px;

    border-radius: 16px;

    -webkit-box-shadow: 0px 0px 32px 0px rgba(97, 255, 186, 0.32);
    -moz-box-shadow: 0px 0px 32px 0px rgba(97, 255, 186, 0.32);
    box-shadow: 0px 0px 32px 0px rgba(97, 255, 186, 0.32);

    overflow-y: scroll;
    scrollbar-color: none;
    scrollbar-width: none;
}

.player::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--primary);
    border-radius: 8px;
}

.player::-webkit-scrollbar-track {
    background-color: none;
}

.player::-webkit-scrollbar {
    width: 10px;
    background-color: none;
}


.player__track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 0 0 12px 0;
    padding: 0 8px;

    height: 42px;
    min-height: 42px;
    width: 100%;

    border: 1px solid var(--primary);
    opacity: .7;
    border-radius: 8px;

    cursor: pointer;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(97, 255, 186, 0.32);
    -moz-box-shadow: 0px 0px 8px 0px rgba(97, 255, 186, 0.32);
    box-shadow: 0px 0px 8px 0px rgba(97, 255, 186, 0.32);
}

.player__track:hover {
    -webkit-box-shadow: 0px 0px 32px 0px rgba(97, 255, 186, 0.32);
    -moz-box-shadow: 0px 0px 32px 0px rgba(97, 255, 186, 0.32);
    box-shadow: 0px 0px 32px 0px rgba(97, 255, 186, 0.32);
}

.track__name {
    color: aliceblue;
    padding: 0 0 0 16px;
    font-size: small;
}

.track__time {
    color: aliceblue;
    padding: 0 0 0 16px;
    font-size: small;
}

.canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(217, 145, 145, 0);
}
